Data policy mix per country dataset

In [1]:
import pandas as pd 
import numpy as np

In [2]:
file_path = ".\Data\Policy mix per country.csv"
df = pd.read_csv(file_path)

In [3]:
df.head()

,Category,"Targets, governance and climate data (x)","Targets, governance and climate data (y)",Market-based instruments (x),Market-based instruments (y),Non market-based instruments (x),Non market-based instruments (y)
0,1990,1990-01-01 00:00:00,100.0,1990-01-01 00:00:00,0.0,1990-01-01 00:00:00,0.0
1,1991,1991-01-01 00:00:00,100.0,1991-01-01 00:00:00,0.0,1991-01-01 00:00:00,0.0
2,1992,1992-01-01 00:00:00,100.0,1992-01-01 00:00:00,0.0,1992-01-01 00:00:00,0.0
3,1993,1993-01-01 00:00:00,100.0,1993-01-01 00:00:00,0.0,1993-01-01 00:00:00,0.0
4,1994,1994-01-01 00:00:00,100.0,1994-01-01 00:00:00,0.0,1994-01-01 00:00:00,0.0

In [4]:
df = df.drop(columns=["Targets, governance and climate data (x)", "Market-based instruments (x)", "Non market-based instruments (x)"], axis=1)
df = df.rename(columns={'Category':'years'})

In [5]:
df.head()

,years,"Targets, governance and climate data (y)",Market-based instruments (y),Non market-based instruments (y)
0,1990,100.0,0.0,0.0
1,1991,100.0,0.0,0.0
2,1992,100.0,0.0,0.0
3,1993,100.0,0.0,0.0
4,1994,100.0,0.0,0.0

In [6]:
df.to_csv(path_or_buf=".\Data\Policy mix per countryclean.csv")

Action and policies

In [7]:
file_path2 = "./Data/action and policies.csv"
df2 = pd.read_csv(file_path2)

In [8]:
df2.head()

                                            Category  European Union
0  Policy stringency - Mandatory energy labels fo...            10.0
1            Policy stringency - Labels for vehicles            10.0
2             Policy stringency - MEPS of appliances            10.0
3       Policy stringency - MEPS for electric motors            10.0
4  Policy stringency - Participation in key inter...            10.0

In [11]:
file_path3 = "./Data/evolution of policy.csv"
df3 = pd.read_csv(file_path3)

In [17]:
df3['Category'] = df3['Category'].apply(lambda x: x.split('-')[0])
df3 = df3.rename(columns={'Category':'years'})

In [18]:
df3.head()

  years  Number of policies adopted  Number of measured policies in CAPMF 2023
0  1990                           1                                         56
1  1991                           1                                         56
2  1992                           1                                         56
3  1993                           1                                         56
4  1994                           2                                         56

In [19]:
df.to_csv(path_or_buf="./Data/evolution of policyclean.csv")