Annual temperature change

In [190]:
import pandas as pd 
import numpy as np

In [191]:
file_path = ".\Data\Annual temperature rate.csv"
df = pd.read_csv(file_path)

In [192]:
df = df.rename(columns={'Category':'year'})
df = df.rename(columns={'OECD - Total':'temperature'})

In [193]:
df['year'] = df['year'].apply(lambda x: x.split('-')[0])

In [194]:
df.head()

   year  temperature
0  1979    -0.640289
1  1980    -0.259872
2  1981     0.426022
3  1982    -0.891179
4  1983    -0.399704

Annual precipitation rate

In [195]:
file_path2 = ".\Data\Annual precipitation rate.csv"
df2 = pd.read_csv(file_path2)

In [196]:
df2 = df2.rename(columns={'Category':'year'})
df2 = df2.rename(columns={'Argentina':'precipitation'})
df2.head()

                  year  precipitation
0  1990-01-01 00:00:00      65.889307
1  1991-01-01 00:00:00     107.367479
2  1992-01-01 00:00:00     110.167837
3  1993-01-01 00:00:00       4.309453
4  1994-01-01 00:00:00      -7.072292

In [197]:
df2['year'] = df2['year'].apply(lambda x: x.split('-')[0])

In [198]:
df2.head()

   year  precipitation
0  1990      65.889307
1  1991     107.367479
2  1992     110.167837
3  1993       4.309453
4  1994      -7.072292

Policy evolution over the years

In [199]:
file_path3 = "./Data/evolution of policy.csv"
df3 = pd.read_csv(file_path3)

In [200]:
df3 = df3.rename(columns={'Category':'year'})

In [201]:
df3['year'] = df3['year'].apply(lambda x: x.split('-')[0])

In [202]:
df3.head()

   year  Number of policies adopted  Number of measured policies in CAPMF 2023
0  1990                           1                                         56
1  1991                           1                                         56
2  1992                           1                                         56
3  1993                           1                                         56
4  1994                           2                                         56

In [203]:
df3.to_csv(path_or_buf="./Data/evolution of policyclean.csv")
df2.to_csv(path_or_buf= "./Data/Annual precipitation rateclean.csv")
df.to_csv(path_or_buf= "./Data/Annual temperature rateclean.csv")